.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }

  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .buttonMiddleWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .buttonMiddleWrapper>button{
    width: 30%;
    margin: 5px auto;
    text-align: center;
  }
  